@page
@model JoesPizzaNation.Pages.Checkout.ThankYouModel
@{
}
<h1>Thank You for order.Our Delivery Agent will reach you soon with delicious pizza.</h1>


<div class="align-content-centre">
    <div class="col-3 mx-auto mb-5">
        
        <p> Pizza ordered :  @Model.PizzaName </p>
        <p> Order ID: @Model.OrderId</p>
        
        <p>Total Amout: Rs @Model.PizzaPrice</p>
        <br />
        
    </div>
</div>