@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainEffect">    
    <h1 class="display-4 text-capitalize text-primary">Welcome to Joe's Pizza Nation</h1>
        <h2 class="mainSub"> family, friends, and pizza </h2>
    </div>
    <img class="mainImage" src="~/images/PizzaHome.jpg"/>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Purchase pizza</a>
    
</div>
